{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>SBMLmod {{ version }}</title>
<link rel="stylesheet" type="text/css" href= "{% static 'sbmlmod/css/sbmlmod.css' %}">
<script type="text/javascript">
function unhide(divID)
{
	var item = document.getElementById(divID);
	if (item)
	{
		item.className = (item.className=='hidden')?'unhidden':'hidden';
	}
}
</script>
</head>

<body>
    <div id="header">
      <div class="container">
        <div class="span-12">
          <div class="title">
            SBMLmod
          </div>
          {% if version %}
          <div class="ver">
          Version {{ version }}
	      </div>
          {% endif %}
	    </div>

	<div class="span-12 last">
	  <div class="title">
	    &nbsp;
	  </div>
	  <div id="menu-bar-container">
          <ul id="menu-bar">
            {% block menu-bar %}{% endblock %}
          </ul>
	  </div>

        </div>
      </div>
    </div>
    <div id="content">
      <div class="container">


      {% block content %}{% endblock %}

      </div>
    </div>
	<div id="footer">
		  <p>2013-2015 © Computational Biology Unit, Department of Informatics, University of Bergen</p>
	</div>
</body>
</html>
