{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>SBMLmod {{ version }}</title>
<link rel="stylesheet" type="text/css" href= "{% static 'sbmlmod/css/sbmlmod.css' %}">
{% block in_head %}{% endblock %}
</head>

<body>
    <div id="header">
      <div class="container">
        <div class="span-12">
          <div class="title">
            SBMLmod
          </div>
          {% if version %}
          <div class="ver">
          Version {{ version }}
	      </div>
          {% endif %}
	    </div>

	<div class="span-12 last">
	  <div class="title">
	    &nbsp;
	  </div>
	  <div id="menu-bar-container">
          <ul id="menu-bar">
          {% block menu-bar %}
          	<li><a href="/sbmlmod/">Home</a></li>
			<li><a href="/sbmlmod/help/">Help</a></li>
          {% endblock %}
          </ul>
	  </div>

        </div>
      </div>
    </div>
    <div id="content">
      <div class="container">


      {% block content %}{% endblock %}

      </div>
    </div>
	<div id="footer">
		<div>
		  <p>© 2016 <a href="http://www.uib.no/en/cbu" target="_blank">Computational Biology Unit</a>, Department of Informatics, <a href="https://www.uib.no" target="_blank">University of Bergen</a><br>and <a href="https://en.uit.no/forskning/forskningsgrupper/sub?p_document_id=341073&sub_id=343888" target="_blank">Molecular Bioinformatics</a>, Arctic and Marine Biology, <a href="https://www.uit.no" target="_blank">UiT The Arctic University of Norway</a></p>
		 </div>
	</div>
</body>
</html>
