{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>SBMLmod {{ version }}</title>
<link rel="stylesheet" type="text/css" href= "{% static 'sbmlmod/css/sbmlmod.css' %}">
{% block in_head %}{% endblock %}
</head>

<body>
    <div id="header">
      <div class="container">
        <div class="span-12">
          <div class="title">
            SBMLmod
          </div>
          {% if version %}
          <div class="ver">
          Version {{ version }}
	      </div>
          {% endif %}
	    </div>

	<div class="span-12 last">
	  <div class="title">
	    &nbsp;
	  </div>
	  <div id="menu-bar-container">
          <ul id="menu-bar">
          {% block menu-bar %}
          	<li><a href="/sbmlmod/">Home</a></li>
			<li><a href="/sbmlmod/help/">Help</a></li>
          {% endblock %}
          </ul>
	  </div>

        </div>
      </div>
    </div>
    <div id="content">
      <div class="container">


      {% block content %}{% endblock %}

      </div>
    </div>
	<div id="footer">
		  <p>© 2016 Heiland Group, Arctic and Marine Biology, UiT The Arctic University of Norway</p>
	</div>
</body>
</html>
