{% extends "sbmlmod/base.html" %}
{% load staticfiles %}


{% block adjust_parameters %}
<fieldset id="field_kinetic">
<legend>Adjust reaction parameters <a href="help/#reactions"><img src="{% static 'sbmlmod/images/help.png' %}" alt="help" /></a></legend>
<table>
<tr>
	<td>{{ form.global_parameters }} <label for="id_global_parameters">Global parameters</label></td>
	<td>{{ form.replace_or_scale.0 }}</td>
</tr>
<tr>
	<td>{{ form.kinetic_law_parameters }} <label for="id_kinetic_law_parameters">Local parameters</label></td>
	<td>{{ form.replace_or_scale.1 }}</td>
</tr>
</table>
<p>
	<label for="id_parameter">Parameter to change:</label> {{ form.parameter }}
</p>
<p class="left">
	Merge mode:
	{{ form.kl_merge_mode }}
</p>
<p class="right">
	<button type="submit" name="kinetic">▶ run task</button>
</p>
</fieldset>
<script type="text/javascript">
document.getElementById("id_parameter").disabled = !document.getElementById('id_kinetic_law_parameters').checked;

function updateParamToChange()
{
	document.getElementById('id_parameter').disabled = !document.getElementById('id_kinetic_law_parameters').checked;
}

document.getElementById("id_kinetic_law_parameters").onchange = updateParamToChange;
</script>
{% endblock %}

{% block add_kinetic_law_bounds %}
<!--
<fieldset id="field_bounds">
	<legend><s>Add kinetic law bounds</s></legend>
	<table class="left">
	<tr>
		<td><label for="id_bounds_default">Bounds default value:</label></td>
		<td>{{ form.bounds_default }}</td>
	</tr>
	<tr>
		<td><label for="id_b_merge_mode">Merge mode:</label></td>
		<td>{{ form.b_merge_mode }}</td>
	</tr>
	</table>
	<p class="right">
		<button type="submit" name="bounds">▶ run task</button>
	</p>
</fieldset>
-->
{% endblock %}

{% block adjust_initial_species_concentration %}
<fieldset id="field_init_spec">
	<legend>Set initial species concentrations <a href="help/#species"><img src="{% static 'sbmlmod/images/help.png' %}" alt="help" /></a></legend>

	<p class="right">
		<button type="submit" name="species">▶ run task</button>
	</p>
</fieldset>
{% endblock %}

{% block perform_steady_state %}
<fieldset id="field_steady_state">
	<legend>Steady state analysis <a href="help/#copasi"><img src="{% static 'sbmlmod/images/help.png' %}" alt="help" /></a></legend>
	<p class="left">
		Perform a steady state analysis with COPASI<br />

		<label for="copasi_groups">Groups for visualization:</label> {{ form.copasi_groups }}
	</p>

	<p class="right">
		<button type="submit" name="copasi">▶ run task</button>
	</p>
</fieldset>
{% endblock %}
