{% extends "sbmlmod/base.html" %}
{% load staticfiles %}

{% block menu-bar %}
	<li class="selected"><a href="/sbmlmod/">Home</a></li>
	<li><a href="/sbmlmod/help/">Help</a></li>
{% endblock %}

{% block content %}
	{% if not version %}
	<div class="span-24">
		<p class="error">Server is down. Please try again later.</p>
	</div>
	{% else %}
	<form action="" method="post" enctype="multipart/form-data">
	<div class="span-12">
		<div class="queryform">
			<h1>A. Input files</h1>
			{% for err in error %}
			<div class="error">
				{{ err }}
			</div>
			{% endfor %}
			{{ form.non_field_errors }}
			<p>
				{{ form.example_files }} <label for="id_example_files">Use example files <img src="{% static 'sbmlmod/images/help_16.png' %}" alt="help" /></label>
			</p>
			<fieldset>
				<legend>SBML file <img src="{% static 'sbmlmod/images/help_16.png' %}" alt="help" /></legend>
				<p>
					{{ form.sbml_file }}
				</p>
			</fieldset>
			<fieldset>
				<legend>Kinetic law data file <img src="{% static 'sbmlmod/images/help_16.png' %}" alt="help" /></legend>
				<p>
					{{ form.kinetic_law_data_file }}
				</p>
				<p>
					<label for="id_kl_data_column">Data column in file:</label>
					{{ form.kl_data_column }}
				</p>
				<p>
					Mapping file:
					{{ form.kl_mapping_file }}
				</p>
			</fieldset>
			<fieldset>
				<legend>Species data file <img src="{% static 'sbmlmod/images/help_16.png' %}" alt="help" /></legend>
				<p>
					{{ form.species_data_file }}
				</p>
				<p>
					<label for="id_s_data_column">Data column in file:</label>
					{{ form.s_data_column }}
				</p>
				<p>
					Mapping file:
					{{ form.s_mapping_file }}
				</p>
			</fieldset>
			<p class="left">
				{{ form.batch_mode }} <label for="id_batch_mode">Use the mysterious <i>batch mode</i></label>
			</p>
			<p class="right">
				<button type="reset">Reset</button>
			</p>
		</div>
	</div>

	<div class="span-12 last">
		<div class="queryform">
			<h1>B. Choose analysis</h1>
			<fieldset>
				<legend>Adjust parameters <img src="{% static 'sbmlmod/images/help_16.png' %}" alt="help" /></legend>
				<p>
					{{ form.global_parameters }} <label for="id_global_parameters">Global parameters</label>
					{{ form.kinetic_law_parameters }} <label for="id_kinetic_law_parameters">Kinetic law parameters</label>
				</p>
				<p>
					<label for="id_parameter">Parameter:</label>
					{{ form.parameter }} (E_T for example files)
				</p>
				<p>
					{% for radio in form.replace_or_scale %}{{ radio }}{% endfor %}
				</p>
				<p>
					Merge mode:
					{{ form.kl_merge_mode }}
				</p>
				{% csrf_token %}
				<p class="right">
					<button type="submit" name="kinetic"><img src="{% static 'sbmlmod/images/system-run-5.png' %}" alt="Run" /></button>
				</p>
			</fieldset>

			<fieldset>
				<legend>Add kinetic law bounds <img src="{% static 'sbmlmod/images/help_16.png' %}" alt="help" /></legend>
				<table class="left">
				<tr>
					<td><label for="id_bounds_default">Bounds default value:</label></td>
					<td>{{ form.bounds_default }}</td>
					<td><img src="{% static 'sbmlmod/images/help_16.png' %}" alt="help" /></td>
				</tr>
				<tr>
					<td><label for="id_b_merge_mode">Merge mode:</label></td>
					<td>{{ form.b_merge_mode }}</td>
					<td><img src="{% static 'sbmlmod/images/help_16.png' %}" alt="help" /></td>
				</tr>
				</table>
				<p class="right">
					<button type="submit" name="bounds"><img src="{% static 'sbmlmod/images/system-run-5.png' %}" alt="Run" /></button>
				</p>
			</fieldset>

			<fieldset>
				<legend>Adjust initial species concentrations <img src="{% static 'sbmlmod/images/help_16.png' %}" alt="help" /></legend>

				<p class="right">
					<button type="submit" name="species"><img src="{% static 'sbmlmod/images/system-run-5.png' %}" alt="Run" /></button>
				</p>
			</fieldset>
		</div>
	</div>
	</form>
	{% endif %}

{% endblock %}
