{% extends "sbmlmod/base.html" %}
{% load staticfiles %}

{% block menu-bar %}
	<li class="selected"><a href="/sbmlmod/">Home</a></li>
	<li><a href="/sbmlmod/help/">Help</a></li>
{% endblock %}


{% block content %}

	{% if not version %}
	<div class="span-24">
		<p class="error">Server is down. Please try again later.</p>
	</div>
	{% else %}
	<form action="" method="post" enctype="multipart/form-data">
	<div class="span-12">
		<div class="queryform">
			<h3>A. Input files</h3>
			{% if error %}
			{% for err in error %}
			<div class="error">
				{{ err }}
			</div>
			{% endfor %}
			{% endif %}
			{{ form.non_field_errors }}
			<p>
				{{ form.example_files }} <label for="id_example_files">Use example files</label>
			</p>
			<fieldset>
				<legend>SBML file</legend>
				<p>
					{{ form.sbml_file }}
				</p>
			</fieldset>
			<fieldset>
				<legend>Kinetic law data file</legend>
				<p>
					{{ form.kinetic_law_data_file }}
				</p>
				<p>
					<label for="id_kl_data_column">Data column in file:</label>
					{{ form.kl_data_column }}
				</p>
				<p>
					Mapping file:
					{{ form.kl_mapping_file }}
				</p>
			</fieldset>
			<fieldset>
				<legend>Species data file</legend>
				<p>
					{{ form.species_data_file }}
				</p>
				<p>
					<label for="id_s_data_column">Data column in file:</label>
					{{ form.s_data_column }}
				</p>
				<p>
					Mapping file:
					{{ form.s_mapping_file }}
				</p>
			</fieldset>
			<p class="left">
				{{ form.batch_mode }} <label for="id_batch_mode">Use the mysterious <i>batch mode</i></label>
			</p>
			<p class="right">
				<button type="reset">Reset</button>
			</p>
		</div>
	</div>

	<div class="span-12 last">
		<div class="queryform">
			<h3>B. Choose analysis</h3>
			<fieldset>
				<legend>Adjust parameters</legend>
				<p>
					{{ form.global_parameters }} <label for="id_global_parameters">Global parameters</label>
					{{ form.kinetic_law_parameters }} <label for="id_kinetic_law_parameters">Kinetic law parameters</label>
				</p>
				<p>
					<label for="id_parameter">Parameter:</label>
					{{ form.parameter }} (E_T for example files)
				</p>
				<p>
					{% for radio in form.replace_or_scale %}{{ radio }}{% endfor %}
				</p>
				<p>
					Merge mode:
					{{ form.kl_merge_mode }}
				</p>
				{% csrf_token %}
				<p class="right">
					<button type="submit" name="kinetic"><img style="float:left" src="{% static "sbmlmod/images/system-run-5.png" %}" alt="Run" /></button>
				</p>
			</fieldset>

			<fieldset>
				<legend>Add kinetic law bounds</legend>
				<p>
					<label for="id_bounds_default">Bounds default value:</label>
					{{ form.bounds_default }}
				</p>
				<p>
					<label for="id_b_merge_mode">Merge mode:</label>
					{{ form.b_merge_mode }}
				</p>
				<p class="right">
					<button type="submit" name="bounds"><img style="float:left" src="{% static "sbmlmod/images/system-run-5.png" %}" alt="Run" /></button>
				</p>
			</fieldset>

			<fieldset>
				<legend>Adjust initial species concentrations</legend>

				<p class="right">
					<button type="submit" name="species"><img style="float:left" src="{% static "sbmlmod/images/system-run-5.png" %}" alt="Run" /></button>
				</p>
			</fieldset>
		</div>
	</div>
	</form>
	{% endif %}

{% endblock %}
