{% extends "sbmlmod/formstuff.html" %}
{% load staticfiles %}

{% block in_head %}
<script type="text/javascript">
function updateUseability()
{
	ex = document.getElementById("id_example_files").checked;
	bm = document.getElementById("id_batch_mode").checked;

	sbml = ex || document.getElementById("id_sbml_file").value != "";
	kin = ex || sbml && document.getElementById("id_kinetic_law_data_file").value != "";
	spec = ex || sbml && document.getElementById("id_species_data_file").value != "";

	document.getElementById("id_sbml_file").disabled = ex;
	document.getElementById("id_kinetic_law_data_file").disabled = ex;
	document.getElementById("id_kl_mapping_file").disabled = ex;
	document.getElementById("id_species_data_file").disabled = ex;
	document.getElementById("id_s_mapping_file").disabled = ex;

	document.getElementById("id_kl_data_column").disabled = bm;
	document.getElementById("id_s_data_column").disabled = bm;

	document.getElementById("field_kinetic").disabled = !kin;
	document.getElementById("field_init_spec").disabled = !spec;
	document.getElementById("field_steady_state").disabled = !sbml;
}

window.onload = function()
{
	document.getElementById("id_example_files").onchange = updateUseability;
	document.getElementById("id_batch_mode").onchange = updateUseability;
	document.getElementById("id_sbml_file").onchange = updateUseability;
	document.getElementById("id_kinetic_law_data_file").onchange = updateUseability;
	document.getElementById("id_species_data_file").onchange = updateUseability;

	document.getElementById("resetbutton").onclick = function()
	{
		setTimeout(updateUseability, 20);
	};

	updateUseability();
};
</script>
{% endblock %}

{% block menu-bar %}
	<li class="selected"><a href="/sbmlmod/">Home</a></li>
	<li><a href="/sbmlmod/help/">Help</a></li>
{% endblock %}

{% block content %}
	{% if not version %}
	<div class="span-24">
		<p class="error">Server is down. Please try again later.</p>
	</div>
	{% else %}
	<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="span-12">
		<div class="queryform">
			<h1>A. Input files</h1>
			{% for err in error %}
			<div class="error">
				{{ err }}
			</div>
			{% endfor %}
			{{ form.non_field_errors }}
			<fieldset>
				<legend>SBML file <a href="help/#sbml"><img src="{% static 'sbmlmod/images/help.png' %}" alt="[help]" /></a></legend>
				<p>
					{{ form.sbml_file }}
				</p>
			</fieldset>
			<fieldset>
				<legend>Reaction data</legend>
				<table>
					<tr>
						<td>Data file: <a href="help/#datafile"><img src="{% static 'sbmlmod/images/help.png' %}" alt="[help]" /></a></td>
						<td>{{ form.kinetic_law_data_file }}</td>
					</tr>
					<tr>
						<td><label for="id_kl_data_column">Data column to use:</label></td>
						<td>{{ form.kl_data_column }}</td>
					</tr>
					<tr>
						<td>Mapping file: <a href="help/#mappingfile"><img src="{% static 'sbmlmod/images/help.png' %}" alt="[help]" /></a></td>
						<td>{{ form.kl_mapping_file }}</td>
					</tr>
				</table>
			</fieldset>
			<fieldset>
				<legend>Species data</legend>
				<table>
					<tr>
						<td>Data file: <a href="help/#datafile"><img src="{% static 'sbmlmod/images/help.png' %}" alt="[help]" /></a></td>
						<td>{{ form.species_data_file }}</td>
					</tr>
					<tr>
						<td><label for="id_s_data_column">Data column to use:</label></td>
						<td>{{ form.s_data_column }}</td>
					</tr>
					<tr>
						<td>Mapping file: <a href="help/#mappingfile"><img src="{% static 'sbmlmod/images/help.png' %}" alt="[help]" /></a></td>
						<td>{{ form.s_mapping_file }}</td>
					</tr>
				</table>
			</fieldset>

			<fieldset>
				<legend>Other options</legend>
				<p>
					{{ form.batch_mode }} <label for="id_batch_mode"><b>Batch mode</b></label> Create one model file for each data column using all columns in data files except for the first column.
				</p>
				<p>
					{{ form.example_files }} <label for="id_example_files"><b>Example files</b></label> <a href="help/#examplefiles"><img src="{% static 'sbmlmod/images/help.png' %}" alt="[help]" /></a> Use example files to illustrate the functions of this service. The files can be <a href="{% static 'sbmlmod/examplefiles.zip' %}">downloaded here</a>.
				</p>
			</fieldset>
			<p class="right">
				<button type="reset" id="resetbutton">Reset</button>
			</p>
		</div>
	</div>

	<div class="span-12 last">
		<div class="queryform">
			<h1>B. Choose task</h1>
			{% block adjust_parameters %}{{ block.super }}{% endblock %}

			{% block add_kinetic_law_bounds %}{{ block.super }}{% endblock %}

			{% block adjust_initial_species_concentration %}{{ block.super }}{% endblock %}

			{% block perform_steady_state %}{{ block.super }}{% endblock %}
		</div>
	</div>
	</form>
	{% endif %}

{% endblock %}
