{% extends "sbmlmod/base.html" %}
{% load staticfiles %}

{% block menu-bar %}
  <li><a href="/sbmlmod/">Home</a></li>
  <li class="selected"><a href="/sbmlmod/help/">Help</a></li>
{% endblock %}

{% block content %}
  <div class="span-16">
    <div class="textbox">
      <h3>Help</h3>
<h4>File formats</h4>
      <a href="#modelformat">Model file</a><br>
      <a href="#dataformat">Data file</a><br>
      <a href="#mappingformat">Mapping file</a><br>

<h4>Web service operations</h4>
<li><a href="#scaleGlobal">ScaleGlobalParameter</a></li>
<li><a href="#replaceGlobal">ReplaceGlobalParameter</a></li>
<li><a href="#scaleLocal">ScaleKineticLawParameter</a></li>
<li><a href="#replaceLocal">ReplaceKineticLawParameter</a></li>


<h5 name="modelformat">Model file</h5>
The model must be provided in Systems Biology Markup Languange (SBML) format [REF]

<h5 name="dataformat">Data file</h5>


<h5 name="mappingformat">Mapping file</h5>
    </div>
  </div>

  <div class="span-8 last">
    <div class="textbox">
      <h3>About SBMLmod</h3>
    </div>
  </div>

{% endblock %}
